.privacy-policy {
  padding: 20px 40px;
  background-color: #f9fafb;
  font-family: 'Segoe UI', sans-serif;
  color: #1f2937;
  line-height: 1.1;
}

.privacy-policy-header {
  text-align: center;
  margin-bottom: 40px;
}

.privacy-policy-header h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color); /* Use your defined primary brand color */
}

.privacy-policy-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.privacy-policy-content h3 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 12px;
  color: #1f2937;
  font-weight: 600;
}

.privacy-policy-content ul{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.privacy-policy-content p {
  font-size: 15.5px;
  color: #4b5563;
  margin-bottom: 16px;
}

/* Responsive */
@media (max-width: 768px) {
  .privacy-policy {
    padding: 40px 20px;
  }

  .privacy-policy-header h2 {
    font-size: 26px;
  }

  .privacy-policy-content h3 {
    font-size: 18px;
  }

  .privacy-policy-content p {
    font-size: 14.5px;
  }
}
